* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
}

ul {
  display: flex;
  gap: 1rem;
}

li {
  list-style: none;
}
